@media (min-width: 1100px) {
	
	#page-done-register {
		width: 100vw;
		height: 100vh;	
		display: flex;
		align-items: center;
		justify-content: center;
		background: var(--color-primary);
	}

	#page-done-register img {
		margin-top: 14%; 
	}

	#page-done-register h2 {
		font-size: 2rem;
		padding: 2rem;
		max-width: 70%;
		margin: 0 auto;
	}

	#page-done-register button {
		width: 25%;
		height: 5.6rem;
		margin: 0 auto;
		background: var(--color-secondary);
		font: 700 1.6rem Poppins;
		cursor: pointer;
		color: var(--color-button-text);
		border: 0;
		border-radius: 0.8rem;
		display: flex;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		margin-top: 1rem
	}
}